*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #eee;
    height: 100vh;
    max-height: 100vh;
}

.main-box{
    display: flex;
}

.inner-box{
    flex-grow: 1;
}

.output-header{
    text-align: center;
}

#canvas{
    
    background-color: #fff;
    cursor:crosshair;
    max-width: 600px;
}

