*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #eee;
    min-height: 100vh;
}

.output-box{
    padding: 1rem;
}

.output-header{
    text-align: center;
}

#canvas{
    background-color: #fff;
    cursor:crosshair;
    max-width: 600px;
    height: 50vh;
    margin: 0 auto;

}

.output-image{
    width: 250px;
    height: 250px;
    display: none;
    margin: 1.5rem auto;
}

